.App {
  width: 100%;
  background-image: url(https://images.pexels.com/photos/1304644/pexels-photo-1304644.jpeg?cs=srgb&dl=pexels-sebastiaan-stam-1304644.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.appInnerDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.621);
}



a {
  text-decoration: none;
}

/* ------------------------------------------------------------------- */
.buttonContainer {
  height: 40px;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: start;
}
